<!DOCTYPE html>
<html>
<head>
    <title>All the blogs</title>

    <style>
    #subjectStyle
    {
        margin-left:100px;
        font-size:24px;
        width:300px;
        border-style:groove;
        border-width:medium;
    }
    #contentStyle
    {
        margin-left:100px;
        font-size:12px;
        width:300px;
        border-style:solid;
        border-width:medium;
    }
    </style>
</head>


<body>
    <br>
    <br>

    {% for blog in blogs %}
        <div id="subjectStyle"> {{blog.subject}}</div>
        <br>
        <div id="contentStyle"> {{blog.content}}</div>
        <br>
        <br>
    {% endfor %}
</body>
</html>